/* For the whole site: make jumps to links/boomarks smooth, and Style text colour to dark grey */
html {
	scroll-behavior: smooth;
	color: rgb(70, 70, 70);
}

/* Universal box sizing */
* {
	box-sizing: border-box;
}

/* Responsive font size makes the <h1> smaller on a smaller screen */
@media screen and (max-width: 600px) {
	h1 {
		font-size: 1.2em;
	}
	.column {
		width: 100%;
		float: none;
	}
}

#header,
#services,
#gallery,
#location,
#roster {
	background-color: #e4d4c8;
}

#home,
#booking,
#contact,
#privacy {
	background-color: #d0b49f;
}

h1,
h2,
h3,
h4 {
	font-family: "Gloria Hallelujah", sans-serif;
	text-align: center;
}

p,
li,
th,
td {
	font-family: "Lato", sans-serif;
}

h4 {
	font-size: medium;
}

h2 {
	padding-top: 25px;
}

p {
	text-align: center;
}

p + ul {
	margin-top: 0;
	font-size: inherit;
}

th {
	font-weight: bold;
}

/* Wrap all columns in rows */
.row::after {
	content: "";
	display: table;
	clear: both;
}

/* Default: 4 columns */
.column {
	float: left;
	width: 25%;
	padding: 8px;
	box-sizing: border-box;
}

/* Images sizing */
.photo_gallery img {
	width: 100%;
	max-width: 150px;
	max-height: 150px;
	object-fit: cover;
	border: 1px solid #ccc;
	padding: 4px;
	display: block;
	margin: 0 auto;
}

/* Responsive: 2 per row on smaller screens */
@media screen and (max-width: 768px) {
	.column {
		width: 50%;
	}
}
