/* Universal box sizing */
* {
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Set the size of the body */
/* body {
	width: 600px;
} */

/* Style the header */
.header {
	background-color: #00cccc;
	text-align: center;
	padding: 20px;
}
/* Responsive font size makes the <h1> smaller on a smaller screen */
@media screen and (max-width: 600px) {
	h1 {
		font-size: 1.2em;
	}
	.column {
		width: 100%;
		float: none;
	}
}

/* Style the top navigation bar */
.topnav {
	overflow: hidden;
	background-color: #009999;
}
/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
/* Create two equal columns that float next to each other */
.column {
	float: left;
	width: 25%;
	padding: 15px;
	background-color: #e6ffff;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other
  instead of next to each other */

.footer {
	background-color: #009999;
	text-align: center;
	padding: 10px;
}
